.cart-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5% auto 0 auto;
    width: 60%;
    border: 0.5px solid #e0e0e0;
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;

    max-width: 100%;
    width: 100%;
    color: black;
}

.product {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    overflow: hidden;
    margin: 10px 0;
}

.product img {
    margin-right: 5%;
}