@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.products-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* Min genişlik: 250px */
  gap: 10px;
  /* Ürünler arası boşluk azaltıldı */
  justify-items: center;
  background-color: #f9f9f9;
  width: 90%;
  margin: 5% auto;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}